<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tardybird.log.mapper.LogMapper">
    <resultMap id="Log" type="com.tardybird.log.entity.Log">
        <result property="id" column="id"/>
        <result property="adminId" column="admin_id"/>
        <result property="ip" column="ip"/>
        <result property="type" column="type"/>
        <result property="actions" column="actions"/>
        <result property="statusCode" column="status"/>
        <result property="actionId" column="action_id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <select id="findAllLogs" parameterType="java.lang.Integer" resultMap="Log">
        select *
        from oomall_log
        where admin_id = #{id}
        limit #{page},#{limit}
    </select>

    <insert id="addLog" parameterType="Log">
        insert into oomall_log(admin_id, ip, actions, type, status, gmt_create, gmt_modified, action_id)
        values (#{adminId}, #{ip}, #{actions}, #{type}, #{statusCode}, now(), now(), #{actionId})
    </insert>
</mapper>